@page "/company"
@using DataBaseWebApp.Data
@using DataBaseWebApp.Models
@inject DataBaseWebAppContext context
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["MnuCompany"]</h3>

<a href="company/create" class="btn btn-primary">@localizer["PlusNew"]</a>
<p></p>

@if (Companies is null)
{
    <p>@localizer["Loading"]</p>
}
else if (Companies.Count == 0)
{
    <p>@localizer["NoComps"]</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>@localizer["Name"]</td>
            <td>@localizer["Address"]</td>
            <td>@localizer["City"]</td>
            <td>@localizer["State"]</td>
            <td>@localizer["Zip"]</td>
            <td>@localizer["Country"]</td>
            <td>@localizer["Phone"]</td>
            <td>@localizer["Contact"]</td>
            <td>@localizer["Email"]</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var company in Companies)
        {
            <tr>
                <td>@company.CompanyName</td>
                <td>@company.Address</td>
                <td>@company.City</td>
                <td>@company.State</td>
                <td>@company.PostalCode</td>
                <td>@company.Country</td>
                <td>@company.Phone</td>
                <td>@company.Contact</td>
                <td>@company.Email</td>
            </tr>

        }
        </tbody>
    </table>
}

@code {
    private List<Company>? Companies { get; set; }

    protected override void OnInitialized()
    {
        Companies = context.Company.ToList();
    }

}
